<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Популярные вопросы</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        {% for question in questions %}
            <h2> {{ question }}</h2>
            <a href="{% url 'question-id' id=question.id %}">перейти к вопросу...</a>
        {% endfor %}
        <nav><ul class="pagination">
            {% for p in paginator.page_range %}
                {% if p == page.number %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{{ base_url }}{{ p }}"> {{ p }}
                    </a>
                </li>
            {% endfor %}
        </ul></nav>
    </body>
</html>